#audioVolDiv {
	position:fixed;
	top:50px;
	left:50px;
}

#audioProgDiv, #audioProgStyleDiv {
	position:fixed;
	top:100px;
	left:100px;
}

#controls {
	position:fixed;
	top:275px;
	left:105px;
	font-size:1.5em;
}

#controls div {
	display:inline-block;
	padding:5px;
}

#playlistControl {
	position:fixed;
	top:50px;
	left:350px;
	background-color:grey;
	height:275px;
	width:310px;
	padding:7px 5px 5px 5px;
}

#audioInputDiv {
	width:fit-content;
	margin:0 auto;
}

#audioInput {
	display:inline-block;
	height:20px;
	width:280px;
	font-size:0.75em;
}

#audioInputBtn {
	display:inline-block;
	width:20px;
	height:20px;
}

.activeControl {
	background-color:grey;
}

.disabled {
	color:grey;
}
