* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	margin-top: 15px;
	text-align: center;
}

#webContainer {
	position: absolute;
	left: 0;
	top: 30px;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 90%;
	margin: auto;
	border: 10px solid #2c3e50;
}

#map {
	float: left;
	width: 70%;
	height: 100%;
	text-align: center;
}

#placeList {
	float: left;
	width: 30%;
	height: 100%;
	border-left: 5px solid #2c3e50;
}

.placeList-item {
	padding: 5px;
	background-color: initial;
	color: initial;
	cursor: pointer;
}

.placeList-item:hover {
	background-color: #2c3e50;
	color: white;
}

.placeList-item div {
	display: none;
}

.placeList-item:hover div {
	display: block;
}

.placeList-item p {
	margin-top: 5px;
	margin-bottom: 10px;
}
